*{
    margin: 0;
    padding: 0;
        font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
            

            box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    background-color:white;
    border-bottom:1px solid #b6b1b1

}
.myntra_logoimg{
   height: 45px;
   display: flex;
   align-items:center
    } 


    
 .nav_bar{
   display: flex;
   min-width: 500px;
   justify-content: space-evenly;
   align-items:center;
   padding-top:20px ;

  
   
 } 

.nav_bar a{
    text-decoration: none ;
    text-transform: uppercase;
     padding: 0 17px 28px;
    font-size: 13px;
    letter-spacing: .3px;
     color: #282c3f;
     border-bottom: none;
     font-weight: 700;
     
}

.nav_bar a sup{color:red;
font-size: 10px;}

.nav_bar a:hover{
    border-bottom:1px solid
}

.search_bar{
    height:40;
    min-width: 200px;
    width: 30%;
    display: flex;
    align-items:center;
}
/* as icon size 40 px a/c to that we give 20 px height and padding 10px */
/* also becoz off border box icon moves downward so we give content box so it takes space according to that  */
.search_icon{
    height: 20px;
    padding: 10px;
    box-sizing:content-box;
    color:#282c3f;
    font-weight: 300;
    background-color: #f5f5f6;
    border-radius:4px 0 0 4px;
    
}
.search_input{

    font-size: 14px;
        color: #696e79;
        background-color:#f5f5f6;
        flex-grow: 1;
        height: 40px;
        border:none;
        border-radius: 0 4px 4px 0;

}

.action_bar{
  margin-right: 4%;
  display: flex;
  min-width: 200px;
  justify-content: space-evenly;

}
.action_container{

    display: flex;
    flex-direction: column;
    align-items:center;
}
