*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
}
.logo_container{
    background:{
        url
    }
}
header nav a{
    text-decoration: none;
    text-transform: uppercase;
}