*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items
}
.logo_container img{
   height: 45px;
    }

header nav a{
    text-decoration: none ;
    text-transform: uppercase;

}