 #progress_barcontainer {
     background-color: white;
     border: 2px solid black;
     border-radius: 15px;
     width: 490px;
 }


 #progress_bar {
     background-color: blue;
     height: 20px;
     width: 0px;
     border-radius: 20px;
     ani

     
 }

 

@keyframes identifier {
    
    from {
            left: 0px
        }
    
        to {
            right: 420px
        }
}
